<html>
<head>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
</head>

<body style="background-color:#03DBC7">
    <div class="text-center" style="padding-top: 50px;">
        <a class="font-weight-bold" style="font-size: 30px;">Aplikasi Kasir</a>

        <div class="container">
            <div class="row p-5">
                <div class="col">
                    <a href="kasir.html"><img src="../assets/pictures/kasir.png" width="150px"></a>
                    <h4>Aplikasi<br>Kasir</h4>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>